<!-- https://codepen.io/kommon/pen/xxONzLM -->
<main>
  <section id="landing">
    <div  id="hero-section">
    <div id="dark">
      <div id="container">
        <h1>Planet Earth Institute of Technology</h1>
        </div>
    </div>
    </div>
  </section>
  <section id="programs" class="container">
    <h1>Programs we are offering in School</h1>
    <div class="img-gallery-container">
      <figure class="img-gallery">
        <img src="https://i.ibb.co/7CKPGgT/business.jpg" alt="Business Image">
        <figcaption class="desc">
          <p>Business</p>
        </figcaption>
      </figure>
      <figure class="img-gallery">
        <img src="https://i.ibb.co/tBjnx6f/data-science.jpg" alt="Data Science Image">
        <figcaption class="desc">
          <p>Data Science</p>
        </figcaption>
      </figure>
      <figure class="img-gallery">
     <img src="https://i.ibb.co/hW4DyS5/computer-engineering.jpg" alt="Computer Engineering Image">
        <figcaption class="desc">
          <p>Computer Engineering</p>
        </figcaption>
      </figure>
      <figure class="img-gallery">
        <img src="https://i.ibb.co/HBM9MNV/bio.jpg" alt="Biological Science Image">
        <figcaption class="desc">
          <p>Biological Science</p>
        </figcaption>
      </figure>
    </div>
  </section>
  <section id="projects" class="container">
    <h1>Projects</h1>
    
      <iframe id="video" width="972" height="547" src="https://www.youtube.com/embed/_luhn7TLfWU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p> Source : MIT </p>
    
    </section>
    <section id="contact" class="container">
      <h1>Contact Us Now</h1>
      <div>
        <form id="form" action="https://www.freecodecamp.com/email-submit">
      <input
        name="email"
        id="email"
        type="email"
        placeholder="Enter your email address"
        required
      />
      <input id="submit" type="submit" value="Submit" class="btn" />
    </form>
      </div>
    </section>
</main>


