<!-- https://codepen.io/CreativeCoder111/pen/mdGYmeN -->
<div class="container">
  <div class="title">
      <p>Student Registration</p>
  </div>

  <form action="#">
      <div class="user_details">
          <div class="input_box">
              <label for="name">First Name</label>
              <input type="text" id="first_name" placeholder="Enter your firstname" required>
          </div>
          <div class="input_box">
              <label for="username">Last Name</label>
              <input type="text" id="last_name" placeholder="Enter your lastname" required>
          </div>
          <div class="input_box">
              <label for="email">Email</label>
              <input type="email" id="email" placeholder="Enter your email" required>
          </div>
          <div class="input_box">
              <label for="phone">Phone Number</label>
              <input type="text" id="phone" placeholder="Enter your number" required>
          </div>
          <div class="input_box">
            <label for="fatherName">Father Name</label>
            <input type="text" id="father_name" placeholder="Enter you father name" required>
        </div>
        <div class="input_box">
          <label for="father_phone">Father Phone Number</label>
          <input type="text" id="father_phone" placeholder="Enter your father phone number" required>
      </div>
          <div class="input_box">
              <label for="pass">Password</label>
              <input type="password" id="pass" placeholder="Enter your password" required>
          </div>
          <div class="input_box">
              <label for="confirmPass">Confirm Password</label>
              <input type="password" id="confirmPass" placeholder="Confirm your password" required>
          </div>
      </div>
      <div class="gender">
          <span class="gender_title">Gender</span>
          <input type="radio" name="gender" id="radio_1">
          <input type="radio" name="gender" id="radio_2">

          <div class="category">
              <label for="radio_1">
                  <span class="dot one"></span>
                  <span>Male</span>
              </label>
              <label for="radio_2">
                  <span class="dot two"></span>
                  <span>Female</span>
              </label>
          </div>
      </div>

      <div class="parent-container">
        <button class="button" type="submit">Register</button>
      </div>

  </form>
</div>